body{
    background-color: black;
    color: white;
    
}

.App {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    font-size: 100px;
}
.btn {
  background-color: rgb(47, 103, 255);
  color: white;
  padding: 30px 60px;
  margin: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
    
}

.btn:hover {
  background-color: rgb(87, 87, 87);
}
.btn:active {
  background-color: rgb(37, 37, 37);
}